@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
  z-index: 0;
}

a {
  text-decoration: none;
}

input:autofill {
  background: white;
}

.field-name {
  margin-bottom: 5px;
}

.field {
  height: 40px;
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
  background-color: white;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.field:focus {
  border-color: #10854b;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.cart-article {
  border: 1px solid #d9d9d9;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 20px;
  height: 50px;
}

.history-item {
  border: 1px solid #c9c9c9;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  min-height: 50px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.history-item span {
  line-height: 20px;
}

.history-item:hover {
  box-shadow: 0px 0px 5px 0px #c9c9c9;
}

.material-icons {
  font-size: 18px;
}

.button {
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  user-select: none;
}

.button:hover {
  background-color: #c9c9c9;
}

.create-button {
  background-color: #f2740d;
  color: white;
}

.create-button:hover {
  background-color: #e96f0c;
}

.save-button {
  background-color: #53b050;
  color: white;
}

.save-button:hover {
  background-color: #4fa94c;
}

.selected-navbar-item {
  background-color: #e6e6e6;
}

.selected-navbar-item:hover {
  background-color: #e6e6e6;
}

#sitename,
#sitename-header > a {
  font-size: 22px;
  line-height: 22px;
  color: #10854b;
  font-weight: bold;
}

#sitename {
  margin-bottom: 20px;
}

#login-signup-form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex column;
  width: fit-content;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
}

#login-signup-form-div input {
  line-height: 40px;
}

#login-form {
  width: 250px;
  display: flex;
  flex-direction: column;
}

#signup-form div {
  width: 250px;
}

#signup-form {
  display: flex;
}

#signup-form div {
  display: flex;
  flex-direction: column;
}

#signup-form div:first-child {
  margin-right: 10px;
}

#login-signup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#switch-form-link:hover {
  color: #10854b;
}

#error {
  color: white;
  background-color: rgb(255, 94, 94);
  height: 60px;
  line-height: 60px;
  width: 235px;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  margin: 10px;
}

body {
  min-height: 100vh;
  background-color: #f4f4f4;
  height: fit-content;
}

header {
  height: 50px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  background-color: #f4f4f4;
  border-bottom: 1px solid #c9c9c9;
}

header > a {
  display: flex;
  align-items: center;
}

#content {
  display: flex;
  min-height: calc(100vh - 50px);
  height: fit-content;
}

nav {
  flex: 1.5;
  padding-top: 10px;
}

ul {
  list-style: none;
  position: sticky;
  top: 60px;
}

li {
  height: 40px;
  min-width: 135px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
}

li:hover {
  background-color: hsl(0, 0%, 92%);
}

li > a {
  display: inline-block;
  width: 100%;
  line-height: 40px;
  user-select: none;
}

main {
  flex: 6.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  min-width: 752px;
}

main > * {
  width: 95%;
}

#extra {
  flex: 2;
  padding-right: 40px;
}

#notes-div {
  position: sticky;
  top: 60px;
  max-width: 265px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #fffbec;
}

#notes-header {
  height: 40px;
  background-color: #7a5a49;
  text-align: center;
  line-height: 40px;
  border-radius: 5px 5px 0px 0px;
  color: white;
}

#notes {
  line-height: 20px;
  resize: none;
  height: 245px;
  border-top: 0;
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  border: none;
  background-color: #fffbec;
}

#create-form-div-c,
#create-form-div-p {
  position: relative;
  padding: 10px 10px 20px 10px;
  margin-bottom: 10px;
}

#form-name {
  width: 100%;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  line-height: 40px;
  padding-left: 20px;
}

#create-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-column {
  width: 250px;
  display: flex column;
}

#create-form .form-column {
  margin-right: 10px;
}

#form-buttons-div {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 5px;
}

#save-form-button {
  margin-bottom: 10px;
}

#rating-div {
  width: fit-content;
  margin: 0px auto;
}

#rating {
  display: flex;
  flex-direction: row-reverse;
}

#rating > input {
  display: none;
  align-self: center;
}

#rating > label {
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  margin: 0px 2px;
  transition: color 0.2s;
  color: #c9c9c9;
}

#rating > label:last-of-type {
  margin-left: 0px;
}

#rating > label:first-of-type {
  margin-right: 0px;
}

#rating > input:hover ~ label,
#rating > input:checked ~ label,
.star {
  color: rgb(255, 200, 20);
}

.hidden-item {
  display: none;
}

#product-description {
  line-height: 20px;
  resize: vertical;
  min-height: 80px;
  max-height: 200px;
}

#category-price-div {
  display: flex;
  justify-content: space-between;
}

#cp-category {
  width: calc(65% - 10px);
}

#cp-price {
  width: 35%;
}

#new-button {
  width: 75px;
}

#tools {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: flex-start;
  height: 50px;
}

#search-div,
#new-button {
  float: right;
}

#search-div {
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

#search-div:focus-within {
  border-color: rgb(0, 135, 95);
}

#search-field {
  height: 100%;
  width: 90%;
  margin-bottom: 0px;
  width: 95%;
  border: none;
  padding: 10px;
  outline: none;
}

#search-icon {
  margin-right: 10px;
  height: 12px;
  width: 12px;
  background-image: url('images/search.png');
  background-size: cover;
}

#list-div {
  height: calc(100vh - 125px);
  min-height: 512px;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
}

#list-inner-div {
  height: 100%;
  overflow-y: scroll;
}

#list-inner-div::-webkit-scrollbar {
  /* for Chrome */
  display: none;
}

#list-inner-div {
  -ms-overflow-style: none; /* for Edge */
  scrollbar-width: none; /* for Firefox */
}

.list-table,
#no-record-header {
  width: 100%;
  border-collapse: collapse;
}

#no-record-header {
  height: 100%;
  background-color: #d9d9d9;
  text-align: center;
}

.sortable-header {
  position: sticky;
  top: 0;
  background-color: #d9d9d9;
  font-weight: normal;
  cursor: pointer;
}

.sortable-header:hover {
  background-color: #c9c9c9;
}

.list-table tr {
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
}

.list-table tr:first-of-type {
  border: none;
  height: 40px;
  line-height: 40px;
}

.list-table tr:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.list-table td {
  padding-left: 20px;
}

#customer-list-table td:nth-of-type(3) {
  font-size: 18px;
  line-height: 40px;
}

#col1 {
  width: 50%;
}

#col2 {
  width: 30%;
}

#col3 {
  width: 20%;
}

footer {
  height: 50px;
  background-color: #c9c9c9;
}

#customer-profile-info-div {
  position: relative;
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-bottom: 10px;
}

#edit-button {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px 5px 0px 0px;
  background-color: white;
  color: gray;
}

#customer-img-rate-div {
  margin-right: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#customer-image {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background-image: url('images/steven.jpg');
  background-size: cover;
}

#customer-rating {
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  margin-top: 5px;
}

#customer-header {
  width: 500px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#customer-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

#customer-credit {
  font-size: 22px;
  line-height: 26px;
}

#customer-details tr {
  height: 20px;
  cursor: default;
}

#customer-details tr td:first-of-type {
  text-align: right;
}

#customer-details tr td:nth-of-type(2) {
  padding-left: 10px;
}

#tab-section {
  height: 40px;
  display: flex;
}

#tab-section div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
}

#tab-section div:hover {
  background-color: hsl(0, 0%, 92%);
}

#tab-section div.selected-navbar-item:hover {
  /* я думаю this is redundant with the rule at line 98 but that rule gets overwritten by the rule at line 601 и я не знаю почему*/
  background-color: #e6e6e6;
}

#tab-content {
  justify-content: flex-start;
  position: relative;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  height: fit-content;
  min-height: 313px;
  padding-top: 20px;
}

#tab-content > * {
  display: none;
  flex-direction: column;
  height: fit-content;
  min-height: 100%;
}

#cart-labels-div {
  border: none;
  line-height: 15px;
  height: 15px;
}

#cart-list-div {
  border-radius: 5px;
  background-color: #d9d9d9;
  min-height: 160px;
  height: fit-content;
}

#cart-input-div {
  height: 60px;
  box-shadow: 0px 2px 2px 0px #c9c9c9;
}

#cart-input-div input {
  margin: 0;
}

.cart-item span:first-of-type,
#cart-labels-div span:first-of-type,
#cart-input-div input:first-of-type {
  width: 350px;
}

.cart-item span,
#cart-labels-div span,
#cart-input-div input {
  width: 100px;
}

.cart-item span:first-of-type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cart-list {
  height: fit-content;
}

.cart-item {
  border-bottom: none;
}

#add-button {
  color: #53b050;
  background-color: white;
}

#dummy-add-button {
  visibility: hidden;
  height: 0px;
}

#remove-button {
  background-color: white;
  color: rgb(255, 94, 94);
}

#credit-comment,
#payment-comment {
  line-height: 20px;
  resize: vertical;
  height: 42px;
}

#save-credit-div,
#save-payment-div {
  margin-top: 11px;
  position: relative;
}

#credit-date,
#payment-date {
  width: fit-content;
  margin: 0px;
}

#grand-total {
  line-height: 40px;
  float: right;
  padding-right: 20px;
  font-weight: bold;
}

#save-credit-button,
#save-payment-button {
  float: right;
  width: 75px;
}

#payment-info-div {
  height: 180px;
  display: flex;
  flex-direction: column;
}

#payment-info-div > p {
  text-align: center;
}

#payment-types-div {
  height: 160px;
  display: flex;
  justify-content: space-between;
}

#payment-types-div .payment-type:first-of-type {
  background-color: #ffdb58;
}

#payment-types-div .payment-type:nth-of-type(2) {
  background-color: #D5C9B9;
}

#payment-types-div .payment-calculation-div {
  display: flex;
  margin-top: 10px;
}

#payment-types-div label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#payment-types-div input {
  border: none;
  width: 100px;
}

#payment-types-div input:focus {
  border: 1px solid #10854b;
}

.payment-type {
  width: calc(50% - 5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.payment-type:hover {
  box-shadow: 0px 0px 5px 0px #c9c9c9;
}

.selected-payment-type:hover {
  box-shadow: none;
}

.selected-payment-type, .payment-type:focus-within {
  border:2px solid #10854b;
}

#history-div {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 24px;
}

.history-item-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.history-item-content {
  flex: 3;
}

.history-item-content {
  border-collapse: collapse;
}

.history-item p {
  line-height: 20px;
}

.history-item td {
  vertical-align: top;
}

.payment-type-column {
  width: 30%;
}

.payment-items-column {
  width: 15%;
}

.payment-values-column {
  width: 15%;
}

.credit-content-column {
  width: 60%;
}

.credit-content-table {
  width: 100%;
}

.credit-items-column {
  width: 75%;
}

.credit-values-column {
  width: 25%;
}

.comment-column {
  width: 40%;
}

.comment-column p {
  color: gray;
}

.history-item-header p:first-of-type {
  color: white;
  padding: 0px 10px;
  border-radius: 10px;
}

.history-item-payment {
  background-color: #53b050;
}

.history-item-credit {
  background-color: gray;
}