@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #363535;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
  z-index: 0;
}

a {
  text-decoration: none;
}

label {
  display: inline-block;
  height: fit-content;
  margin: 5px 0px;
}

input:autofill {
  background: white;
}

iframe {
  display: none;
}

.field-name {
  margin-bottom: 5px;
}

.field {
  height: 40px;
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
  background-color: white;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.field:focus {
  border: 2px solid #2196f3;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.cart-article {
  border: 1px solid #d9d9d9;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 20px;
  height: 50px;
}

.history-item {
  border: 1px solid #c9c9c9;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 20px;
  min-height: 50px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.history-item span {
  line-height: 20px;
}

.material-icons {
  font-size: 18px;
}

.button {
  border: none;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  user-select: none;
}

.gray-button {
  background-color: #d9d9d9;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  user-select: none;
}

.gray-button:hover {
  background-color: #c9c9c9;
}

.create-button {
  background-color: #FC9D00;
  color: white;
  font-size: 20px;
}

.create-button span {
  color: white;
  margin-left: 5px;
}

.create-button:hover {
  background-color: hsl(37, 100%, 47%);
}

.save-button {
  background-color: hsl(118, 38%, 50%);
  color: white;
}

.save-button:hover {
  background-color: hsl(118, 38%, 48%);
}

.selected-navbar-item {
  background-color: #d9d9d9;
}

.selected-navbar-item:hover {
  background-color: #d9d9d9;
}

#sitename,
#sitename-header > a {
  font-size: 22px;
  line-height: 50px;
  color: #108531;
  font-weight: bold;
  margin: none;
}

#dropdown {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#dropdown span {
  font-size: 22px;
}

#dropdown-button {
  font-size: 22px;
  line-height: 50px;
  height: 50px;
  background-color: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#dropdown-menu {
  padding: 0px;
}

#dropdown-menu a {
  width: 150px;
  line-height: 30px;
  padding-left: 20px;
}

#dropdown-menu a:first-of-type {
  padding-top: 5px;
}

#dropdown-menu a:last-of-type {
  padding-bottom: 5px;
}

#dropdown-menu a:hover {
  background-color: #e6e6e6;
}

#sitename {
  margin-bottom: 20px;
  cursor: default;
}

#flex-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#website-name p:nth-of-type(2) {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 50px 0px 0px;
  text-align: right;
}

#website-name p:nth-of-type(1) {
  font-size: 42px;
  font-weight: bold;
  color: #108531;
  margin: 0px 50px 2px 0px;
}

#account-type-div{
  padding: 30px;
  margin-left: 50px;
}

#account-type-div .div-about-header {
  margin-bottom: 15px;
  font-weight: bold;
}

.div-about-header {
  margin-bottom: 10px;
  font-weight: bold;
}

#account-type-div input {
  display: none;
}

#account-type-div input:checked + label {
  border: 2px solid #2196f3;
}

#account-type-div label {
  height: 60px;
  width: 200px;
  display: flex;
  margin: 0px;
  margin-bottom: 5px;
  align-items: center;
  border: 1px solid #c9c9c9;
  padding-left: 30px;
  border-radius: 5px;
}

#account-type-div label > span {
  margin-right: 10px;
}

.login-signup-buttons button {
  color: white;
  width: 75px;
  margin-left: auto;
}

.next-button {
  background-color: #f88120;
}

.next-button:hover {
  background-color: #f77408;
}

#login-as-select {
  /* not working, don't know why */
  line-height: 40px;
}

#signup-back-arrow1 span, #signup-back-arrow2 span{
  border-radius: 20px;
  margin-left: 50px;
}

#login-form-div {
  display: flex column;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  margin-left: 50px;
}

#login-form-div input {
  line-height: 40px;
}

#login-form, #customer-signup-form {
  width: 250px;
  display: flex;
  flex-direction: column;
}

#business-info-div, #store-owner-signup-form-div, #customer-signup-form-div {
  width: 310px;
  padding: 30px;
  margin-left: 10px;
}

.login-signup-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

#login-button {
  width: 75px;
  background-color: #186ddc;
  color: white;
}

#login-button:hover {
  background-color: #1769d3;
}

#signup-button {
  width: 75px;
  background-color: #53b050;
  color: white;
}

.signup-button:hover {
  background-color: #4fa94c;
}

.switch-form-link:hover {
  color: #2196f3;
}

#error {
  color: white;
  background-color: #dc2e3a;
  height: 40px;
  line-height: 20px;
  width: 265px;
  height: fit-content;
  text-align: center;
  position: fixed;
  z-index: 2;
  top: 0;
  margin-top: 5px;
  left: calc(100vw/2 - 132.5px);
  border-radius: 5px;
  padding: 10px;
  cursor: default;
}

body {
  min-height: 100vh;
  background-color: #f4f4f4;
  height: fit-content;
}

header {
  height: 50px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  background-color: #f4f4f4;
}

header > a {
  display: flex;
  align-items: center;
}

#header-login-signup-buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-login-signup-buttons-div a{
  margin-left: 5px;
  height: 35px;
}

#content {
  display: flex;
  min-height: calc(100vh - 50px);
  height: fit-content;
}

nav {
  flex: 1.5;
  padding-top: 10px;
}

nav ul {
  list-style: none;
  position: sticky;
  top: 60px;
}

li {
  padding-left: 40px;
  display: flex;
  align-items: center;
}

nav li {
  height: 40px;
  width: 200px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
}

nav li:hover {
  background-color: #e6e6e6;
}

li > a {
  display: inline-block;
  width: 100%;
  line-height: 40px;
  user-select: none;
}

main {
  flex: 6.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 15px 0px;
  min-width: 752px;
  position: relative;
}

main > * {
  width: 95%;
}

#extra {
  flex: 2;
  padding-right: 40px;
}

#notes-div {
  position: sticky;
  top: 70px;
  max-width: 265px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}

#notes-header {
  background-color: #f5e77a;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: default;
  border-radius: 5px 5px 0px 0px;
}

#notes {
  line-height: 20px;
  resize: none;
  height: 245px;
  margin: 0;
  border: none;
  border-radius: 0px 0px 5px 5px;
}

#edit-form-div-c,
#edit-form-div-p,
#create-form-div-c,
#create-form-div-p {
  position: relative;
  padding: 10px 10px 20px 10px;
  margin-bottom: 10px;
}

.form-name {
  margin: 10px;
  background-color: #d9d9d9;
  line-height: 40px;
  padding-left: 20px;
}

#edit-form,
#create-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-column {
  width: 250px;
  display: flex column;
}

#create-form .form-column,
#edit-form .form-column {
  margin-right: 10px;
}

#form-buttons-div,
#form-buttons-div-edit {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 5px;
}

#save-form-button,
#save-form-button-edit {
  margin-bottom: 10px;
}

#rating-div {
  width: fit-content;
  margin: 0px auto;
}

#rating {
  display: flex;
  flex-direction: row-reverse;
}

#rating > input {
  display: none;
  align-self: center;
}

#rating > label {
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  margin: 0px 2px;
  transition: color 0.2s;
  color: #d9d9d9;
}

#rating > label:last-of-type {
  margin-left: 0px;
}

#rating > label:first-of-type {
  margin-right: 0px;
}

#rating > input:hover ~ label,
#rating > input:checked ~ label,
.star {
  color: #ffc814;
}

#delete-item-clickable-text {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

#delete-item-clickable-text:hover {
  color: #f54753;
}

.hidden-item {
  display: none;
}

#deletion-confirmation-popup {
  height: 200px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px 2px #c9c9c9;
  padding: 20px;
  justify-content: flex-start;
  border: solid 1px #f54753;
  border-bottom: solid 5px #f54753;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#deletion-reminder {
  font-size: 12px;
}

#product-to-delete, #account-to-delete {
  font-size: 16px;
}

#popup-yes-no-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#yes-button,
#no-button {
  width: 100px;
}

#yes-button {
  background-color: #f54753;
  color: white;
  margin-left: 5px;
}

#yes-button:hover {
  background-color: hsl(356, 90%, 57%);
}

#no-button {
  margin-right: 5px;
}

#product-information-popup-div {
  height: 250px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px 2px #c9c9c9;
  padding: 20px;
  justify-content: flex-start;
  border: solid 1px #2196f3;
  border-bottom: solid 5px #2196f3;
}

#product-information-popup-div div {
  margin-bottom: 10px;
  width: 80%;
  line-height: 20px;
}

#product-name-info {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

#product-category-info {
  height: 50px;
}

#product-description-info {
  height: 60px;
}

#edit-product-button {
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
  top: 0px;
  right: 0px;
}

#product-description,
#product-description-edit {
  line-height: 20px;
  resize: vertical;
  min-height: 80px;
  max-height: 200px;
}

#category-price-div,
#category-price-div-edit {
  display: flex;
  justify-content: space-between;
}

#cp-category,
#cp-category-edit {
  width: calc(65% - 10px);
}

#cp-price,
#cp-price-edit {
  width: 35%;
}

#new-button {
  width: 75px;
}

#tools {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: flex-start;
  height: 50px;
  margin: 10px 10px 0px 0px;
}

#search-div,
#new-button {
  float: right;
}

#search-div {
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  margin-right: 10px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

#search-div:focus-within {
  border: 2px solid #2196f3;
}

#search-field {
  height: 100%;
  width: 90%;
  margin-bottom: 0px;
  width: 95%;
  border: none;
  padding: 10px;
  outline: none;
}

#search-icon {
  margin-right: 10px;
  cursor: default;
}

#list-div {
  height: calc(100vh - 90px);
  min-height: 295px;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  position: relative;
}

#list-inner-div {
  height: 100%;
  overflow-y: scroll;
}

#list-inner-div::-webkit-scrollbar {
  /* for Chrome */
  display: none;
}

#list-inner-div {
  -ms-overflow-style: none; /* for Edge */
  scrollbar-width: none; /* for Firefox */
}

.list-table,
#no-record-header {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}

#no-record-header {
  height: 100%;
  background-color: #e6e6e6;
  text-align: center;
}

.sortable-header {
  position: sticky;
  top: 0;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.sortable-header span {
  float: right;
  line-height: unset;
  display: none; 
}

.sortable-header:hover span {
  display: block;
}

.list-table tr {
  height: 40px;
}

.list-table tr:first-of-type {
  border: none;
  height: 40px;
  line-height: 40px;
  text-align: left;
}

.list-table tr:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.list-table td {
  padding-left: 20px;
  border-bottom: 1px solid #e6e6e6;
}

#customer-list-table td:nth-of-type(3) {
  font-size: 18px;
  line-height: 40px;
}

#col1 {
  width: 50%;
  padding: 0px 20px;
}

#col2 {
  width: 30%;
  padding: 0px 20px;
}

#col3 {
  width: 20%;
  padding: 0px 20px;
}

footer {
  height: 250px;
  background-color: #363535;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

#footer-website-name {
  font-size: 22px;
  font-weight: bold;
  color: #acacac;
  margin-bottom: 20px;
  transition: color 0.2s;
  transition-timing-function: ease;
}

.guide-link {
  color: #acacac;
  line-height: 18px;
  transition: color 0.2s;
  transition-timing-function: ease;
}

#footer-website-name:hover,
.guide-link:hover {
  color: white;
}

#external-social-links {
  margin-top: 10px;
}

#external-social-links img {
  height: 25px;
  width: 25px;
}

#copyright {
  color: #acacac;
  margin-top: 20px;
  text-align: center;
}

#customer-profile-info-div {
  position: relative;
  padding: 20px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  height: 185px;
  margin-bottom: 10px;
}

#edit-button {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px 5px 0px 0px;
  background-color: white;
  color: gray;
  border-radius: 20px;
}

#edit-button:hover {
  background-color: #e6e6e6;
}

#customer-img-rate-div {
  margin-right: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#customer-image {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  background-image: url('images/profile_picture_blue.jpg');
  background-size: cover;
}

#customer-rating {
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  margin-top: 5px;
}

#customer-header {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#customer-name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}

#customer-credit {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}

#customer-details {
  flex-grow: 1;
}

#customer-details tr {
  height: 20px;
  cursor: default;
}

#customer-details tr td {
  padding-left: 20px;
}

#tab-section {
  height: 40px;
  display: flex;
}

#tab-section div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
  max-width: calc(100%/4);
}

#tab-section div:hover {
  background-color: #e6e6e6;
}

#tab-section div.selected-navbar-item:hover {
  background-color: #d9d9d9;
}

#tab-content {
  justify-content: flex-start;
  position: relative;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  height: fit-content;
  min-height: 315px;
  padding: 20px 10px 10px 10px;
  min-width: fit-content;
}

#tab-content > * {
  display: none;
  flex-direction: column;
  height: fit-content;
  min-height: 100%;
}

#cart-labels-div {
  border: none;
  line-height: 15px;
  height: 15px;
}

#cart-list-div {
  border-radius: 5px;
  background-color: #e6e6e6;
  min-height: 210px;
  height: fit-content;
}

#cart-input-div {
  height: 60px;
  box-shadow: 0px 2px 2px 0px #c9c9c9;
}

#cart-input-div input {
  margin: 0;
}

.cart-item span:first-of-type,
#cart-labels-div span:first-of-type,
#cart-input-div input:first-of-type {
  width: 300px;
}

.cart-item span,
#cart-labels-div span,
#cart-input-div input {
  width: 100px;
}

.cart-item span:first-of-type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cart-list {
  height: fit-content;
}

.cart-item {
  border-bottom: none;
}

#add-button {
  color: #53b050;
  background-color: white;
}

#dummy-add-button {
  visibility: hidden;
  height: 0px;
}

#remove-button {
  background-color: white;
  color: rgb(255, 94, 94);
}

#credit-comment,
#payment-comment {
  line-height: 20px;
  resize: vertical;
  height: 60px;
  min-height: 60px;
  margin: 10px 0px 15px 0px;
}

#dates-div {
  display: flex;
  position: relative;
  margin-bottom: 5px;
}

#dates-div label:nth-of-type(2) {
  margin-left: 10px;
}

#credit-date-label,
#payment-date-label,
#due-date-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

#credit-date-label input,
#payment-date-label input,
#due-date-label input {
  margin-top: 5px;
}

#credit-date,
#due-date,
#payment-date {
  width: fit-content;
  margin: 0px;
}

#grand-total {
  font-size: 16px;
  line-height: 40px;
  position: absolute;
  bottom: 0px;
  right: 85px;
}

#save-credit-button,
#save-payment-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 75px;
}

#payment-types-div {
  height: 230px;
  display: flex;
  justify-content: space-between;
}

#payment-types-div .payment-calculation-div {
  display: flex;
  margin-top: 10px;
}

#payment-types-div label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#payment-types-div input {
  width: 100px;
}

.payment-type {
  width: calc(50% - 5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.payment-type-name {
  font-weight: bold;
}

#payment-types-div .payment-type:nth-of-type(1) {
  border: 1px solid #2196f3;
  border-bottom: solid 5px #2196f3;
}

#payment-types-div .payment-type:nth-of-type(2) {
  border: 1px solid #FC9D00;
  border-bottom: solid 5px #FC9D00;
}

#payment-types-div .payment-type:nth-of-type(2) input:focus {
  border-color: #FC9D00;
}

#history-tools {
  height: 40px;
  margin-bottom: 5px;
  padding: 0px 10px;
}

#history-tools > span {
  display: inline-flex;
  height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

#history-tools .button:first-of-type.selected-history-type {
  color: white;
  background-color: #53b050;
}

#history-tools .button:nth-of-type(2).selected-history-type {
  color: white;
  background-color: #508CB0;
}

.sort-button-by, .sort-button-order {
  float: right;
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

#sort-arrow {
  margin-left: 5px;
}

#date-interval {
  float: right;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

#start-date,
#end-date {
  width: fit-content;
}

#start-date {
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}

#start-date:focus + input {
  border-left: 2px solid #2196f3;
}

#end-date {
  border-radius: 0px;
}

.print-button {
  width: 75px;
  margin-left: 10px;
  background-color: hsl(261, 72%, 60%);
  color: white;
  float: right;
}

.print-button:hover {
  background-color: hsl(261, 72%, 58%);
}

#history-list {
  padding: 0px 30px;
}

.history-item-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: relative;
}

.history-item-total {
  font-size: 16px;
}

.history-item-content {
  flex: 2;
  border-collapse: collapse;
}

.history-item p {
  line-height: 20px;
}

.history-item td {
  vertical-align: top;
}

.payment-type-column {
  width: 35%;
}

.payment-items-column {
  width: 20%;
}

.payment-values-column {
  width: 15%;
}

.credit-content-column {
  width: 70%;
}

.credit-content-table {
  width: 100%;
}

.credit-items-column {
  width: 80%;
}

.credit-values-column {
  width: 20%;
}

.comment-column {
  width: 30%;
}

.comment-column p {
  color: gray;
}

.history-item-header p:first-of-type {
  color: white;
  padding: 0px 10px;
  border-radius: 10px;
}

.payment-history-item .history-item-type {
  background-color: #53b050;
}

.credit-history-item .history-item-type {
  background-color: #508CB0;
}

.credit-history-item .history-item-type.unpaid-credit-label {
  background-color: #dc2e3a;
}

#period {
  width: 150px;
  float: right;  
}

#reports-div div .print-button {
  margin: 0px 10px;
}

#graph-div {
  width: 600px;
  height: 300px;
  margin: 5px auto;
  position: relative;
}

#table-div .weekday-content:last-of-type {
  margin-bottom: 15px;
}

.no-data {
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  opacity: 0;
  padding: 5px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}

#stats {
  margin: 15px 30px;
  display: flex;
  height: 70px;
}

#stats .period-totals:nth-of-type(1){
  background-color: #508CB0;
}

#stats .period-totals:nth-of-type(2){
  background-color: #53b050;
}

#stats .period-totals:nth-of-type(3){
  background-color: #FC9D00;
}

.period-totals {
  background-color: lightgoldenrodyellow;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.period-totals span {
  color: white;
}

.period-totals span:nth-of-type(1){
  font-size: 15px;
}

.period-totals span:nth-of-type(2){
  font-size: 18px;
  margin-top: 15px;
}

.period-header {
  position: relative;
  height: 40px;
  background-color: #e6e6e6;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 30px;
  cursor: pointer;
}

.expand-arrow {
  position: absolute;
  right: 0px;
  margin-right: 10px;
}

.weekday-content {
  margin: 0px 30px;
}

.weekday-content table {
  border-collapse: collapse;
  width: 100%;
}

.period-transaction {
  height: 40px;
  border: 1px solid #e6e6e6;
}

.period-transaction td {
  padding: 0px 10px;
  width: 28%;
  border-right: 1px solid #e6e6e6;
  vertical-align: top;
}

.period-transaction td:first-of-type {
  width: 16%;
  padding: 10px;
}

.transaction-type > span {
  color: white;
  border-radius: 10px;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  margin: 10px 10px 10px 0px;
  text-align: center;
}

.transaction-details {
  display: flex;
  justify-content: space-between;
}

.transaction-details:first-of-type {
  margin-top: 10px;
}

.transaction-details span {
  line-height: 15px;
  font-size: 12px;
}

.transaction-type p:last-of-type {
  margin-bottom: 10px;
}

.credit-transaction-type > span {
  background-color: #508CB0;
}

.payment-transaction-type > span {
  background-color: #53b050;
}

.due-transaction-type > span {
  background-color: #FC9D00;
}

.applicant-item, .store-item {
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

.applicant-business-name, .store-name {
  font-size: 16px;
  line-height: 24px;
}

.applicant-business-location, .store-location {
  margin: 5px 0px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 10px;
}

.applicant-details, .store-details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 20px;
}

.applicant-details tr, .store-details tr {
  height: 20px;
}

.applicant-details tr td:nth-of-type(2), .store-details tr td:nth-of-type(2) {
  padding-left: 20px;
}

.applicant-buttons {
  display: flex;
  justify-content: right;
}

.applicant-buttons button {
  width: 100px;
}

.approve-button {
  margin-right: 5px;
  background-color: #186ddc;
  color: white;
}

.approve-button:hover {
  margin-right: 5px;
  background-color: #1769d3;
}

.applicant-date, .store-approval-date {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 24px 20px;
  display: flex;
  flex-direction: column;
}

#no-applications-banner, #no-stores-banner {
  height: calc(100vh - 140px);
  min-height: 250px;
  width: 100%;
  padding: 0px;
  background-color: #e6e6e6;
  box-shadow: none;
}

#no-applications-banner div, #no-stores-banner div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#admin-list-tools {
  margin-bottom: 10px;
}

#admin-list-tools > * {
  margin: 0px;
}

#admin-list-tools #search-div {
  margin: 0px;
  width: 45%;
  max-width: calc(100% - 480px);
  float: left;
}

#admin-list-tools #sort-arrow{
  margin: 0px;
}

#admin-list-tools .sort-button-by{
  border-radius: 0px;
  width: 65px;
}

#notifications-div {
  position: sticky;
  top: 70px;
  max-width: 265px;
  min-width: 150px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
  padding: 0px 10px 10px 10px;
}

#notifications-header {
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: default;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #d9d9d9;
}

#notification-list {
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow-y: scroll;
}

#notification-list::-webkit-scrollbar {
  /* for Chrome */
  display: none;
}

#notification-list {
  -ms-overflow-style: none; /* for Edge */
  scrollbar-width: none; /* for Firefox */
}

#notification-list p {
  background-color:  #e6e6e6;
}

.notification {
  padding: 15px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  #f5e77a;
  border-radius: 5px;
  line-height: 20px;
  margin-bottom: 5px;
}

.notification-content {
  display: flex;
}

.notification-content .material-icons {
  color: #B78D39;
  font-size: 24px;
  margin-right: 10px;
}

.notification-message div{
  line-height: 20px;
}

.overall-report-div {
  padding-top: 20px;
}

#printframe-body {
  background-color: white;
}

#printframe-body .expand-arrow {
  display: none;
}

#report-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#report-header-sitename {
  font-size: 22px;
  line-height: 50px;
  color: #108531;
  font-weight: bold;
  margin: none;
}

#page-title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

#report-date {
  margin: 5px 0px 20px 0px;
}

#customer-printed {
  margin-top: 5px;
}

#customer-printed + #report-date {
  margin-top: 0px;
}

#history-type {
  font-weight: bold;
}

#business-name {
  font-weight: bold;
}

#guide-content {
  display: flex;
  min-height: calc(100vh - 50px);
  height: fit-content;
}

#guide-content main {
  flex: 7.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 752px;
  position: relative;
}

#guide-content #extra {
  position: sticky;
  top: 50px;
  flex: 1;
  height: 100vh;
}

#jump-buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 86px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.jump-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

#guide-container {
  width: 90%;
  padding: 20px 50px;
}

#guide-container p {
  line-height: 20px;
}

.offsetElement {
  display: block;
  visibility: hidden;
  height: 50px;
  margin-top: -50px;
}

.offsetElement:first-of-type {
  display: block;
  visibility: hidden;
  height: 180px;
  margin-top: -120px;
}

.guide-section {
  height: fit-content;
  padding-bottom: 40px;
}

.guide-section:not(:last-of-type) {
  border-bottom: 1px solid #d9d9d9;
}

.guide-section > p:first-of-type {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}

#splash-div {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#splash-greeting-div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#splash-greeting-div p:first-of-type {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

#splash-greeting-div p:nth-of-type(2){
  font-size: 50px;
  font-weight: bold;
  color: #108531;
}

#splash-greeting-div p:nth-of-type(3) {
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
}

#splash-greeting-div p:nth-of-type(4) {
  font-size: 18px;
  margin-top: 30px;
  font-weight: bold;
  color: #108531;
  background-color: #53b05032;
  padding: 15px;
}

#splash-div img {
  width: 60%;
  height: auto;
  float: right;
  margin-top: 30px;
}

#email-status-message-div {
  margin: 10px 0px;
}

#email-status-message {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#contact-email-message {
  line-height: 20px;
  resize: vertical;
  height: 150px;
  min-height: 100px;
}

#send-email-button {
  background-color: #186DDB;
  color: white;
  width: 75px;
  margin-top: 5px;
  float: right;
}

#send-email-button:hover {
  background-color: #1769d3;
}